* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f0d0b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
    margin-top: 40px;
    margin-left: 40px;
    background-color: #181512;
    border: 2px solid #332d26;
    border-radius: 8px;
    width: 90%;
    padding: 20px;
}

#grafico-semana {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
    height: 300px;
}

section h2 {
    color: white;
}

#filtro, #btn-atualizar {
    padding: 8px;
    margin: 10px;
    border-radius: 6px;
}

#btn-atualizar {
    color: white;
    background-color: #cca010;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btn-atualizar:hover {
    background-color: #e6b312;
}

.grafico {
    height: 250px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    margin-top: 30px;
}

.coluna {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barra {
    width: 50px;
    background-color: #cca010;
    border-radius: 6px 6px 0 0;
}

.coluna span {
    margin-top: 10px;
    color: white;
}